<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="trainPath" value="../../outDependence/train.txt"/>
    <add key="testPath" value="../../outDependence/test.txt"/>
    <add key="dicPath" value="../../outDependence/dictionary0.txt"/>
    <add key="dicOrderPath" value="../../outDependence/dictionary.txt"/>

    <add key="featuresPath" value="../../outDependence/features.txt"/>
    <add key="trainTokenPath" value="C:\Users\AMY\Desktop\graduatePaper\crfs\train.txt"/>
    <add key="testTokenPath" value="C:\Users\AMY\Desktop\graduatePaper\crfs\test.txt"/>

    <add key="crfsPath" value="C:\Users\AMY\Desktop\graduatePaper\crfs\"/>

    <add key="crfsArg" value=""/>

    <add key="result_file" value="C:\Users\AMY\Desktop\graduatePaper\crfs\result_file.txt"/>
    <add key="ResultCalcu" value="C:\Users\AMY\Desktop\graduatePaper\crfs\ResultCalcu.txt"/>

    <add key="OutTestTxt" value="C:\Users\AMY\Desktop\graduatePaper\crfs\OutTestTxt.txt"/>
    
    <add key="out_result_file" value="C:\Users\AMY\Desktop\graduatePaper\crfs\out_result_file.txt"/>

  </appSettings>
</configuration>